.container {
  margin: 20px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px dotted black;
}
th {
  text-align: left;
}

.racer_table td {
  background-color: white;
  border:1px solid black;
  height: 20px;
  width: 20px;
}
 
/*up*/
 
.racer_table td.active {
  background-color: black;
}
