<h1>WELCOME TO JAVASCRIPT RACER!!</h1>

<p>Each player must enter their name to start playing:</p>

<form action="/game" method="POST">
  <label for="player1">Player 1</label>
    <input type="text" name="player1"><br>
  <label for="player2">Player 2</label>
    <input type="text" name="player2"><br>
    <input type="submit">
</form>
